# ---- Arduino / ESP build output ----
build/
*/build/
*.hex
*.bin
*.elf
*.map
*.eep
*.lst
*.d
*.o
*.a
*.lss
*.sym

# Arduino IDE / arduino-cli caches
.build/
.pio/
*.tmp

# ---- Editors / IDEs ----
.vscode/
.theia/
.idea/
*.swp
*~

# ---- OS junk ----
.DS_Store
.AppleDouble
._*
Thumbs.db
ehthumbs.db
desktop.ini
